@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body{
    background-color: rgb(227, 218, 235);
}

*{
    margin: 10px; 
}
h1{
    text-align: center;
    background-color: rgb(161, 123, 197);
    font-family:'Satisfy';
}

.coment{
    text-align: right; 
    font-size: 15px; 
    color: blueviolet; 
    background-color: rgb(225, 201, 235);

}
.fundo{
    font-family: 'Satisfy';
}
p{
     text-align: justify; 
     font-size: 20px; 
}
.rodape{
    text-align: right;
    background-color: rgb(189, 163, 224);
    color: rgb(0, 0, 0);
}
h2{
    text-align: center;
    background-color: rgb(171, 147, 194);
}
